@import 'materialize';
@import 'ember-cli-materialize';

@import 'nav-bar';
@import 'contact';
@import 'footer';

@font-face {
  font-family: 'typicons';
  src: url("path/to/typicons.eot");
  src: url("path/to/typicons.eot?#iefix") format('embedded-opentype'),
       url("path/to/typicons.woff") format('woff'),
       url("path/to/typicons.ttf") format('truetype'),
       url("path/to/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}

.s11 {
    position: relative;
}

.s1 {
    border-top: 1px dotted white;
    background-color: #92C9D8;
    text-align: center;
}

.btn-large {
    margin: .5em;
    background-color: #92C9D8;
    border: 1px solid white;
}

body {
  background: url('/viking.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
