@import 'materialize';
@import 'ember-cli-materialize';

@import 'nav-bar';
@import 'contact';
@import 'footer';

.s10 {
    position: relative;
}

.s2 {
    border-top: 1px dotted white;
    background-color: #92C9D8;
    text-align: center;
}

.btn-large {
    margin: .5em;
    background-color: #92C9D8;
    border: 1px solid white;
}

