@import 'materialize';
@import 'ember-cli-materialize';

@import 'nav-bar';
@import 'contact';

.s9 {
    background-color: blue;
}

.s2 {
    border-top: 1px dotted black;
    background-color: red;
    text-align: center;
    background-color: #92C9D8;
}

.fa-users {
    font-size: 100pt;
    padding: 10px;
    background-color: white;
    border: 10pt solid black;
    margin-top: 10px;
}
