.contact-form {
    max-width: 75%;
    margin: auto;
    background-color: white;
}

.contact-card {
    float: left;
    width: 45%;
    margin: 1em;
}

#md-card-action {
    color:
}

.add-contact {
    position: absolute;
    top: .5em;
    right: 0;
    color: white;
    border: 1px solid #92C9D8;
    background-color: #92C9D8;
}
