<div class="row">

    <div class="col s2">
        {{#link-to 'tracker.profile.create'}}
            {{md-btn icon='fa fa-user' action='debug' buttonType='floating' class='btn-large'}}
        {{/link-to}}
        {{#link-to 'tracker.contacts.show'}}
            {{md-btn icon='fa fa-phone' action='debug' buttonType='floating' class='btn-large'}}
        {{/link-to}}
        {{#link-to 'tracker.documents.show'}}
            {{md-btn icon='fa fa-file-text-o' action='debug' buttonType='floating' class='btn-large'}}
        {{/link-to}}
    </div>
    {{outlet}}
</div>

