<div class="row">

    <div class="col s2">
        {{md-btn text='Contacts'
        action='tracker.contacts.show'
        buttonType='large'
        class='deep-orange darken-2 white-text'}}
    </div>
    {{outlet}}
</div>

