<div class="row">

    <div class="col s2">
        {{#link-to "tracker.contacts.show"}}
            <i class="fa fa-users"></i>
        {{/link-to}}
        {{#link-to "tracker.events.show"}}
            <i class="fa fa-tasks"></i>
        {{/link-to}}
    </div>

    {{outlet}}
</div>
